{% set postslist = collections.post %}

{% for post in postslist | reverse %}
  <div class="col-6 col-md-4 col-lg-3 mt-4 pb-4">
    <div class="card m-0 w-100">
      {% if post.data.image %}
        <img class="card-img-top" src="{{ post.data.image }}" alt="{{ post.data.alt }}" />
      {% endif %}
      
      <div class="card-body">
        <p class="card-text">
          <a href="{{ post.url | url }}">
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
